.amount {
    width: 100%;
    height: auto;
    background-color: #D3E5FE;
    display: flex;
    justify-content: center;
}

.numberst {
    width: 73%;
    height: auto;
    /* background-color: rgb(124, 114, 114); */
    margin-top: 70px;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 160px;
}

.seventeen {
    width: 100px;
    height: 100px;
    /* background-color: rgba(173, 173, 173, 0.256); */
    text-align: center;
}

.egiht {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    color: #222222;
}

.teachero {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;



    color: #555555;
}


@media (min-width: 992px) and (max-width: 1199px) {

    .numberst {
        width: 73%;
        height: auto;
        /* background-color: rgb(124, 114, 114); */
        margin-top: 70px;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    .numberst {
        width: 73%;
        height: auto;
        /* background-color: rgb(124, 114, 114); */
        margin-top: 70px;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 767.9px) {
    .numberst {
        width: 75%;
        height: auto;
        /* background-color: rgb(124, 114, 114); */
        margin-top: 70px;
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .numberst {
        width: 80%;
        height: auto;
        /* background-color: rgb(124, 114, 114); */
        margin-top: 70px;
        margin-bottom: 4rem;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
}